@charset "utf-8";
/* CSS Document */

@import "../simplegrid.css";

/* Browser/CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Egne styles herunder */

html {
	font-family: 'Roboto', sans-serif;
}
/* nav */
.flex-container  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
}

.logo {
  margin: 0 0 0 .45em;
}
    .logo a {
      color: white;
    }

    .logo, .navigation {
        list-style: none;
        text-transform: uppercase;
    }

    .logo a {
        text-decoration: none;
        letter-spacing: .45rem;
    }

.navigation a {
	text-decoration: none;
	letter-spacing: .25rem;
	display: block;
  	padding: 1em;
  	color: white;
}

.navigation  {
  display: flex;
}


.navigation a:hover {
  background: #FF00F2;
}

.menu_active {
	background-color: #FF00F2;
}


/* landing page start her */
.page_flow_landing_page {
    background-image: url("../images/rawpixel-678089-unsplash.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
	width: 100%;
	display: flex;
}

.landing_container {
	background-color: rgba(255,255,255,0.9);
	display: flex;
	flex-direction: column;
	margin-top: 200px;
	padding: 20px;
}

.landing_container h1 {
	font-size: 60px;
	text-align: center;
	padding-top: 20px;
	font-weight: 500;
}

.landing_container h3 {
	font-size: 20px;
	text-align: center;
}


/* landing page slut her */



/* Projekter starter her */
.projekter_container {
	/*
border-left: solid 1px #FF00F2;
border-right: solid 1px #FF00F2;
	*/
	
}
projekter_mellemrum {
	padding-bottom: 20px;
}

.col-1-2 h2 {
	font-weight: 700;
	font-size: 1.8em;
}

.page_container {
	margin-top: 100px;
}

/* Dette er blot leg med design, det skal nok ændres, evt med shadow istedet for decideret streg?? */
.page_container h1 {
	text-align: center;
	font-weight: 500;
	font-size: 3em;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	min-height: 50px;
}


/* Projekter slutter her her */



/*responsiv img test*/
.responsive_img {
    max-width: 100%;
    height: auto;
	padding-bottom: 50px;
}


/* Kontakt side starter her */

/* kontakt images */
.responsive_img_kontakt {
    max-width: 150px;
	width: 100%;
    height: auto;
}

.kontakt_container {
	display: flex;
	flex-direction: column;
	padding-top: 0px;
}

.kontakt_center {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.kontakt_center h3 {
	margin-top: 20px;
	margin-bottom: 30px;
}

/* Kontakt side slutter her */


/* leg med til top button starter her */
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 19px;
    top: 12px;
    font-size: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(255, 0, 242, 1);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* leg med til top button slutter her  */


/* Footer starter her */

footer {
    
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

footer p {
}

/* Footer slutter her */


/* anchor korrekt placering leg */

.ctn {
  position: relative;
  border: solid 1px green;
  height: 60px;
}

.ctn a {
  position: absolute;
  left: 0px;
  top: -60px;
  border: solid 1px red;
}


.ctn .target-label {
  position: absolute;
  left: 0px;
  /* anchor offset + header height + header padding + header margins */
  top: 0px;
  margin: 0;
}


/* text slider leg starter her */

/* Slideshow container */
.slideshow-container {
  position: relative;
  
}

/* Slides */
.mySlides {
  display: none;
  padding: 0px;
  text-align: center;
}


/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 10px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #FF00F2;
}

/* Add an italic font style to all quotes */
q {font-style: italic;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

/* text slider leg slutter her */


/* *********** media queries *********** */
@media all and (max-width: 990px) {
  .flex-container {
    flex-direction: column;
  }
  
  .logo {
  margin: 0;
}
  
  .navigation  {
    width: 100%;
    justify-content: space-around;
  }
}


/* ****** ****** */
@media all and (max-width: 600px) {
 
  .logo {
    margin: .25em 0;
    align-self: left; /* align the logo to the left side of 'flex-container' */
}
  
  .navigation {
    flex-direction: column;
  }
  
  .navigation a { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3); 
    border-bottom: 1px solid rgba(0,0,0,0.1); 
  }
  
  .navigation li:last-of-type a {
    border-bottom: none;
  }
	
	.responsive_img_kontakt {
    max-width: 100px;
	width: 100%;
    height: auto;
}
	
	footer {
		height: 30px;
	}
	
	footer img {
		display: flex;
		justify-content: flex-end;
		max-width: 30px;
	}
	
.page_container {
	margin-top: 200px;
}
	
	
	/* mobile version af anchorpoint korrekt placering, blot -180 istedet for 60 længere oppe i CSS */
	/* skal ryddes op senere, nu er der f.eks grønne borders for at kunne se hvad der sker */
	.ctn {
  position: relative;
  border: solid 1px green;
  height: 60px;
}

.ctn a {
  position: absolute;
  left: 0px;
  top: -200px;
  border: solid 1px red;
}


.ctn .target-label {
  position: absolute;
  left: 0px;
  /* anchor offset + header height + header padding + header margins */
  top: 0px;
  margin: 0;
}
	

	
}
